.cmn-flex {
    display: flex;
}

.cmn-background-color {
    background-color: rgba(255, 248, 243, 1);
    ;
}

.cmn-btn {
    width: 150px;
    color: white;
    background-color: #FD6E0A;
    border: none;
    padding: 15px 5px;
    border-radius: 5px;
    cursor: grabbing;

}