nav {
    position: sticky;
    top: 0;
    z-index: 1000;
    justify-content: space-between;
    align-content: center;
    padding: 5px 150px;
}

.list {
    list-style: none;
    gap: 20px;
    align-items: center;
}

.anchor-decoration {
    text-decoration: none;
    color: black;
}

.different-letter {
    color: #FD6E0A;
}

header {
    padding: 0px 180px;
    justify-items: space-between;
    align-items: center;
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom left, bottom right;
    background-size: contain, 600px;
    padding-right: 80px;
}

.main-img {
    width: 400px;
    height: 400px;
}



@media screen and (max-width:576px) {
    nav {
        padding: 5px 50px;
    }

    header {
        padding: 50px;
        flex-direction: column;
        gap: 30px;
    }
}

@media screen and (min-width:577px) and (max-width:768px) {
    nav {
        padding: 5px 100px;
    }

    header {
        padding: 50px;
        flex-direction: column;
        gap: 30px;
    }
}

@media screen and (min-width:769px) and (max-width:992px) {
    header {
        padding: 50px;
    }
}