/* style of main-section-2 and main-section-1 */
.main-section-1-and-2 {
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 100px 180px;
}

.about-me-and-skills {
    display: grid;
    grid-template-columns: repeat(4, 150px);
    gap: 20px;
}


.margin-for-sec-1 {
    margin: 10px 50px;
}



/* style of main-section-3 */
.main-section-3 {
    flex-direction: column;
    align-items: center;
    padding: 100px 180px;
    gap: 20px;
}

.edu-exp {
    gap: 25px;
}

@media screen and (max-width:576px) {

    .main-section-3,
    .main-section-1-and-2 {
        padding: 50px;
    }

    .margin-for-sec-1 {
        margin: 0;
    }

    .about-me-and-skills {
        grid-template-columns: repeat(2, 200px);
    }

    .edu-exp {
        flex-direction: column;
    }

}

@media screen and (min-width:577px) and (max-width:768px) {

    .main-section-3,
    .main-section-1-and-2 {
        padding: 50px;
    }

    .about-me-and-skills {
        grid-template-columns: repeat(2, 200px);
        gap: 30px;
    }
}

@media screen and (min-width:769px) and (max-width:992px) {

    .main-section-3,
    .main-section-1-and-2 {
        padding: 100px;
    }
}